# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
npm-debug.log*
Thumbs.db
yarn-error.log

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Visual Studio Code
.vscode/

# Flutter/Dart
.dart_tool/
.packages
build/
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
flutter_logs.txt
.metadata

# Node.js
node_modules/
dist/

# Python
__pycache__/
*.pyc
.venv/
venv/
env/
.env
instance/
